@inject StatoApp StatoApp
@using Classes


<div class="container-fluid d-flex justify-content-center align-items-center h-100">
    <MudPaper Elevation="4" Class="w-100 m-5">

        <MudList Clickable=true>
            @foreach (Studente c in Studenti)
            {
                @*HREF ti manda ad una pagina ogni volta che si clicca, bisogna sostituire il tutto facendo il modo che si setti una variabile globale con l'id classe == a c.Id e poi utilizzare un Navigate to o altra roba*@
                <MudListItem>
                    <MudStack Row="true">
                        <MudAvatar Color="Color.Secondary">@($"{c.Nome[0]}{c.Cognome[0]}")</MudAvatar>
                            <div class="d-flex justify-content-start align-items-center text w-100 fw-bold">@($"{c.Cognome} {c.Nome}")</div>
                            <MudIconButton Style="z-index:10" Class="justify-content-end align-items-end" Icon="@Icons.Material.Outlined.Check"  Color="Color.Primary" Href=@($"/{StatoApp.Details.GetType().Name}/Calendario")>Calendario</MudIconButton>
                            <MudIconButton Style="z-index:10" Class="justify-content-end align-items-end" Icon="@Icons.Material.Filled.Check" Color="Color.Secondary" Href=@($"/{StatoApp.Details.GetType().Name}/Calendario")>Calendario</MudIconButton>
                            <MudIconButton Style="z-index:10" Class="justify-content-end align-items-end" Icon="@Icons.Material.Filled.Check" Color="Color.Primary" Href=@($"/{StatoApp.Details.GetType().Name}/Calendario")>Calendario</MudIconButton>
                        </MudStack>

                    </MudListItem>
                <MudDivider DividerType="DividerType.Middle" Light="true"></MudDivider>
            }
        </MudList>
    </MudPaper>





</div>



@code {
    [Parameter]
    public List<Studente> Studenti { get; set; }
}
